.contact_list {
    height: 30vh;
    overflow-y: scroll;
}

.chat_spacer {
    width: 20vw;
}

.spacer {
    height: 10vh;
    width: auto;
    background-color: white;
}

.chat {
    width: auto;
    height: 50vh;
    overflow-y: scroll;
}

.backButton {
    padding: 10px 20px;
    margin: 10px;
}